{% extends 'layout.html' %}
{% block content %}
<form method="post" class="form-group row" >
    {{ business_registration_form.business_name.label(class='mr -sm-2 mb-0') }}<br>
    {{ business_registration_form.business_name(class='form-control') }}<br>
    {{ business_registration_form.business_street_address.label(class='mr -sm-2 mb-0') }}<br>
    {{ business_registration_form.business_street_address(class='form-control') }}<br>
    {{ business_registration_form.business_country.label }}<br>
    {{ business_registration_form.business_country(class='form-control') }}<br>
    {{ business_registration_form.business_city.label }}<br>
    {{ business_registration_form.business_city(class='form-control') }}<br>
    {{ business_registration_form.contact_number.label }}<br>
    {{ business_registration_form.contact_number(class='form-control') }}<br>
    {{ business_registration_form.email.label }}<br>
    {{ business_registration_form.email(class='form-control') }}<br>
    {{ business_registration_form.firstname.label }}<br>
    {{ business_registration_form.firstname(class='form-control') }}<br>
    {{ business_registration_form.lastname.label }}<br>
    {{ business_registration_form.lastname(class='form-control') }}<br>
    {{ business_registration_form.nominalcapital.label }}<br>
    {{ business_registration_form.nominalcapital(class='form-control') }}<br>
    {{ business_registration_form.business_category.label }}<br>
    {{ business_registration_form.business_category(class='form-control') }}<br>
    {{ business_registration_form.submit(class='btn btn-lg btn-primary btn-block') }}

</form>
{% endblock %}