{% extends 'layout.html' %}
{% block content %}
<form method="post" class="form-group row" >
    {{ business_registration_form.business_name.label(class='mr -sm-2 mb-0') }}
    {{ business_registration_form.business_name(class='form-control') }}
    {{ business_registration_form.business_street_address.label(class='mr -sm-2 mb-0') }}
    {{ business_registration_form.business_street_address(class='form-control') }}
    {{ business_registration_form.business_country.label }}
    {{ business_registration_form.business_country(class='form-control') }}
    {{ business_registration_form.business_city.label }}
    {{ business_registration_form.business_city(class='form-control') }}
    {{ business_registration_form.contact_number.label }}
    {{ business_registration_form.contact_number(class='form-control') }}
    {{ business_registration_form.email.label }}
    {{ business_registration_form.email(class='form-control') }}
    {{ business_registration_form.firstname.label }}
    {{ business_registration_form.firstname(class='form-control') }}
    {{ business_registration_form.lastname.label }}
    {{ business_registration_form.lastname(class='form-control') }}
    {{ business_registration_form.nominalcapital.label }}
    {{ business_registration_form.nominalcapital(class='form-control') }}
    {{ business_registration_form.business_category.label }}
    {{ business_registration_form.business_category(class='form-control') }}
    {{ business_registration_form.submit(class='btn btn-lg btn-primary btn-block') }}

</form>
{% endblock %}