<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>We Care!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
</head>
<body>
<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <a class="navbar-brand" href="{{ url_for('home') }}">
    <img src="{{ url_for('static', filename='images/logo.png') }}" width="40" height="40" alt="">
  </a>
  <a class="navbar-brand" href="{{ url_for('home') }}">We Care!</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('home') }}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('login') }}">Account  <img src="{{ url_for('static', filename='images/account.png') }}" width="20" height="20"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('home') }}">About Us</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="{{ url_for('home') }}">Contact Us</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search Business">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
  {% block content %}
  {% endblock %}

 <script src="{{ url_for('static' , filename='js/jquery-3.2.1.min.js') }}" ></script>
{#    <script src="{{ url_for('static' , filename='js/popper.min.js') }}" ></script>#}
<script src="{{ url_for('static' , filename='scripts/bootstrap.min.js') }}" ></script>
</body>
</html>