<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="static/build/react.min.js"></script>
     <script src="static/build/react-dom.min.js"></script>
    <script src="{{ url_for('static', filename='build/jquery-3.2.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='build/browser.min.js') }}"></script>
    <script type="text/babel" src="{{ url_for('static', filename='build/testing.jsx') }}"></script>
</head>
<body>
<div id="view">

</div>

</body>
</html>